@import "../node_modules/ol/ol.css";

/* Colors */
@property --primary-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #6200ee;
}

@property --primary-variant {
  syntax: "<color>";
  inherits: false;
  initial-value: #3700b3;
}

@property --secondary-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #03dac6;
}

@property --secondary-variant {
  syntax: "<color>";
  inherits: false;
  initial-value: #018786;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

.content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 40px auto 32px;
  grid-template-columns: min-content auto;
}

header {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: var(--primary-variant);
  color: white;
  display: flex;
  align-items: center;
  padding-left: 8px;
  font-size: 18px;
}

nav {
  overflow-y: scroll;
}

footer {
  width: 100%;
  display: flex;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: var(--primary-variant);
  color: white;
  align-items: center;
}

.caption {
  background-color: var(--primary-color);
  color: white;
  padding: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.map {
  width: 100%;
}

#map {
  width: 100%;
}

.button-control {
  width: 3em;
  height: 3em;
}

.button-control button {
  width: 100%;
  height: 100%;
  font-size: 1.8em;
}

.rotate-north {
  left: .5em;
  top: 4em;
  background: none;
}

.rotate-north button {
  border-radius: 50%;
}

.polygon-editor {
  left: .5em;
  top: 7.5em;
}

.polygon-editor.selected button {
  border: solid 1px darkgray;
  background-color: lightgray;
}

.cut-grid {
  left: .5em;
  top: 11em;
}

.download-grid {
  left: .5em;
  top: 14.5em;
}

.upload-grid {
  left: .5em;
  top: 18em;
}

#fileDialog {
  display: none;
}

.toolbox {
  margin-bottom: 8px;
  margin-top: 8px;
}

.toolbox .row {
  box-sizing: border-box;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  align-items: baseline;
}

.toolbox .row .name {
  height: 100%;
}

.toolbox .row input {
  width: 100%;
  height: 100%;
}

article {
  position: relative;
}

article .controls {
  height: 100%;
  width: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  display: flex;
  align-items: center;
}

article .controls .toggler {
  border-radius: 0 6px 6px 0;
  border: solid 1px var(--primary-variant);
  padding: 6px;
  cursor: pointer;
  border-left: 0px;
  background-color: white;
  min-height: 32px;
  display: flex;
  align-items: center;
}

#sidebar-toggler {
  display: none;
}

#sidebar-toggler:checked+label .toggler {
  background-color: white;
}

.sidebar {
  width: 300px;
}

.sidebar .featurebox textarea {
  width: 100%;
  height: 100%;
}

#sidebar-toggler:checked~.content .sidebar {
  display: none;
}

#sidebar-toggler:checked~.content {
  grid-template-columns: 100%;
}

/* Feature editor */
.properties {
  display: grid;
  grid-template-columns: 50% 50%;
}

.properties .header {
  grid-column: span 2;
  text-align: center;
  padding: 4px;
  background-color: var(--secondary-variant);
  color: white;
}

.properties .footer {
  grid-column: span 2;
  text-align: center;
}

.properties .footer .add_property {
  text-decoration: underline;
  cursor: pointer;
  padding: 4px;
}

.properties .footer .add_property:hover {
  background-color:var(--secondary-color);
}

.properties .cell {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  width: 100%;
  height:100%;
}
.properties .cell input{
  width: 100%;
}

.properties .key {
  padding-left: 2px;
}

.properties .value {
  padding-right: 2px;
  overflow: hidden;
}

footer .stats {
  height: 100%;
  align-items: center;
  display: flex;
  column-gap: 16px;
}

footer .controls {
  flex-grow: 1;
  height: 100%;
  align-items: center;
  justify-content: right;
  display: flex;
}